.preGameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 2rem;
}

.delete-tournament-btn {
  position: absolute;
  right: 2rem;
  top: -2rem;
  background-color: #e01e5a;
  padding: 0.5rem 2.5rem;
  border: none;
  box-shadow: 0 19px 38px transparent, 0 15px 20px rgb(0 0 0 / 10%);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.preGameInfo__char {
  position: absolute;
  left: 0;
  top: 6rem;
  height: 25rem;
  animation: hide-char 15s infinite;
}

.preGameInfo__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preGameInfo__header > h1 {
  font-size: 2.4rem;
  font-weight: 400;
}

.preGameInfo__header > p {
  margin-top: 2.5rem;
  opacity: 0.6;
  font-size: 1.5rem;
}

.preGameInfo__tabs {
  margin-top: 2rem;
  width: 490px;
}

.preGameInfo__tab {
  padding: 1.8rem 1rem;
  border-radius: 5px;
  width: 490px;
  cursor: pointer;
}

.preGameInfo__tab:hover {
  background-color: #f8faff;
}

.preGameInfo__tab:hover > .preGameInfo__tab-title > h2 {
  opacity: 1;
}

.preGameInfo__tab-title {
  display: flex;
  justify-content: space-between;
}

.preGameInfo__tab-title > h2 {
  font-weight: 400;
  font-size: 1.6rem;
  opacity: 0.7;
}

.preGameInfo__tab > ul {
  margin-top: 1rem;
  list-style: none;
}

.preGameInfo__tab > ul > li {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.preGameInfo__header > button {
  padding: 0.5rem 5rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  background-color: #495464;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 19px 38px transparent, 0 15px 20px rgb(0 0 0 / 10%);
}

.preGameForm {
  margin-top: 5rem;
  display: flex;
  max-width: 1400px;
  width: 100%;
  justify-content: space-between;
}

.preGameInfo__column {
  flex: 0.33;
  width: 100%;
  margin: 0 3rem;
}

.preGameInfo__column,
.preGameInfo__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.preGameInfo__column > h2 {
  font-weight: 400;
  font-size: 2rem;
}

.preGameInfo__form {
  margin: 2rem 0;
}

.preGameInfo__form > input {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 19px 38px transparent, 0 15px 20px rgb(0 0 0 / 10%);
  font-size: 1.4rem;
}

.preGameInfo__form > img {
  margin-top: 1.5rem;
  height: 50px;
  cursor: pointer;
}

.preGameInfo__column-item {
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2rem;
  box-shadow: 0 19px 38px transparent, 0 15px 20px rgb(0 0 0 / 10%);
  border-radius: 10px;
  font-weight: bold;
}

.preGameInfo__column-item > p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.preGameInfo__column-item > button {
  border: none;
  background-color: transparent;
  color: #e01e5a;
  cursor: pointer;
  font-weight: bold;
}

@keyframes hide-char {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
