.preGameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 2rem;
}

.delete-tournament-btn {
  position: absolute;
  right: 2rem;
  top: -2rem;
}
.preGameInfo__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preGameInfo__header > h1 {
  font-size: 2.4rem;
  font-weight: 400;
}

.preGameInfo__header > p {
  margin-top: 2.5rem;
  opacity: 0.6;
  font-size: 1.5rem;
}

.preGameInfo__tabs {
  margin-top: 2rem;
  width: 490px;
}

.preGameInfo__tab {
  padding: 1.8rem 1rem;
  border-radius: 5px;
  width: 490px;
}

.preGameInfo__tab:hover {
  background-color: #f8faff;
}

.preGameInfo__tab:hover > h2 {
  opacity: 1;
}

.preGameInfo__tab > h2 {
  font-weight: 400;
  font-size: 1.6rem;
  opacity: 0.7;
}

.preGameInfo__tab > ul {
  margin-top: 1rem;
}

.preGameInfo__tab > ul > li {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.preGameInfo__header > button {
  padding: 0.5rem 5rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  background-color: #495464;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 19px 38px transparent, 0 15px 20px rgb(0 0 0 / 10%);
}

.preGameForm {
  margin-top: 5rem;
}
