.roundSummary {
  display: grid;
  place-items: center;
  margin-top: 3rem;
  max-width: 90vw;
}

.roundSummary__content,
.winners__card {
  background-color: #2db67c;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 6px 9px 1px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 1px 6px 9px 1px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 6px 9px 1px rgba(0, 0, 0, 0.18);
}

.roundSummary__content > h2 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.roundSummary__content > p {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

.roundSummary__content > button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: var(--main-light-color);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 19px 38px transparent, 0 15px 20px rgb(0 0 0 / 10%);
}

.winners__card > h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.winners__card > p {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 1rem;
}
.winners__card > button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #d85a52;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .roundSummary {
    margin-top: 0rem;
  }

  .winnerCard {
    padding: 1rem 2rem !important;
    margin: 1rem;
  }
}
