.tournamentPanel {
  height: 90vh;
  flex: 1;
}

.tournamentPanel__main {
  display: flex;
}

.tournamentPanel__current-fight {
  flex: 0.75;
  margin: 2rem;
  background-color: var(--main-light-color);
  border-radius: 10px;
  min-height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.vs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
  color: var(--main-dark-color);
}

.tournamentPanel__options {
  flex: 0.25;
  min-height: 25vh;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tournamentPanel__options-box,
.tournamentPanel__round-card {
  background-color: var(--main-light-color);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.tournamentPanel__options-box {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tournamentPanel__options-box > button {
  padding: 1rem 2.5rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.tournamentPanel__options-box > button {
  background-color: var(--main-grey-color);
}

.red-btn {
  background-color: #d85a52 !important;
  color: white;
}

.current-fighter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.current-fighter > img {
  height: 7vh;
}

.current-fighter > p {
  font-weight: bold;
  font-size: 3rem;
  text-transform: capitalize;
  margin-top: 2rem;
  color: var(--main-dark-color);
}

.current-fighter > button {
  padding: 1rem 3rem;
  border: none;
  background-color: var(--main-grey-color);
  border-radius: 10px;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-dark-color);
  cursor: pointer;
}

.tournamentPanel__round-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-dark-color);
}

.tournamentPanel__round-card > span:nth-child(2) {
  margin-top: 1rem;
}

.tournamentPanel__upcoming {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 3rem;
  grid-gap: 3rem;
}

.upcoming__sign,
.upcoming__card {
  padding: 2rem;
  background-color: var(--main-light-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.upcoming__sign > img {
  height: 30px;
  margin-left: 2rem;
}

.upcoming__card {
  justify-content: space-between;
  position: relative;
  text-transform: capitalize;
}

.card-vs {
  font-size: 2rem;
}
