.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.navbar > a > img {
  height: 50px;
}

.nav__box {
  background-color: #495464;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.nav__box > img {
  height: 45px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.nav__box-content {
  position: absolute;
  right: 2rem;
  top: 6rem;
  background-color: #e8e8e8;
  padding: 1rem;
  width: 180px;
  height: 120px;
  border-radius: 5px;
  box-shadow: 0 19px 38px transparent, 0 15px 20px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.nav__box-content > p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #495464;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0 19px 38px transparent, 0 15px 20px rgb(0 0 0 / 10%);
  color: white;
  cursor: pointer;
}
