.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access__header {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.access__header > img {
  margin-right: 1rem;
}

.access__header > h1 {
  font-size: 1.6rem;
}

.login > form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login > form > h2 {
  font-weight: 400;
  font-size: 2.4rem;
}

.login > form > p {
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 1rem;
  opacity: 0.7;
  text-align: center;
}

.login__input {
  margin-top: 1.5rem;
}

.login__input > input {
  height: 2rem;
  width: 300px;
}

.login > form > button {
  width: 300px;
  height: 2rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #495464;
  color: white;
  cursor: pointer;
  box-shadow: 0 19px 38px transparent, 0 15px 20px rgb(0 0 0 / 10%);
}

.toggle__access {
  position: absolute;
  right: 1rem;
  top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.toggle__access > a {
  margin-top: 0.5rem;
  text-decoration: none;
  color: #495464;
  font-weight: 600;
}

.access__footer {
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.7;
}

.access__footer > p:nth-child(1) {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.login > img {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 800px) {
  .toggle__access {
    position: relative;
    right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .access__footer {
    transform: translateX(0%);
    right: 5vw;
  }

  .login > form > h2 {
    font-size: 2rem;
  }

  .access__footer {
    font-size: 0.8rem;
  }

  .login > img {
    height: 100px;
  }
}
