.tournamentForm {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tournamentForm > input {
  height: 3rem;
  width: 500px;
  font-size: 1.6rem;
  border-radius: 5px;
  box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.24);
  border: none;
}

.tournamentForm > button {
  margin-top: 3rem;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
  background-color: #495464;
  box-shadow: 0 19px 38px transparent, 0 15px 20px rgb(0 0 0 / 10%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tournamentForm > button:hover {
  transform: scale(1.03) translateY(-2px);
  box-shadow: 0 14px 28px rgba(8, 24, 58, 0.3), 0 10px 10px rgba(0, 0, 0, 0) !important;
}

.tournamentForm > img {
  position: absolute;
  top: -98px;
}

@media only screen and (max-width: 550px) {
  .tournamentForm > input {
    width: 400px;
    height: 2.5rem;
    font-size: 1.5rem;
  }

  .tournamentForm > button {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .tournamentForm > input {
    width: 300px;
  }
}
